force-app/main/default/flows/Account_address_deatils.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_Address_values</name>
        <label>Assign Address values</label>
        <locationX>399</locationX>
        <locationY>595</locationY>
        <assignmentItems>
            <assignToReference>update_each_contact.Previous_Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>update_each_contact.Mailing_Country__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>update_each_contact.Mailing_Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ShippingCountry</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_each_contact</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Account address deatils {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account address deatils</label>
    <loops>
        <name>update_each_contact</name>
        <label>update each contact</label>
        <locationX>584</locationX>
        <locationY>520</locationY>
        <collectionReference>Get_associated_contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Address_values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Contacts_With_New_Shipping_address</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_associated_contacts</name>
        <label>Get associated contacts</label>
        <locationX>584</locationX>
        <locationY>380</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>update_each_contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contacts_With_New_Shipping_address</name>
        <label>Update Contacts With New Shipping address</label>
        <locationX>584</locationX>
        <locationY>799</locationY>
        <inputReference>update_each_contact</inputReference>
    </recordUpdates>
    <start>
        <locationX>458</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_associated_contacts</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
